<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=640d8b2d-5531-47bc-b553-a05400ffaf25.sqlserver.sequelizer.com;Database=db640d8b2d553147bcb553a05400ffaf25;User ID=wgsvrdzseqssjhuh;Password=BsobUMxjkzGZ7yhHoGMCBfjSJ3TsQdRyuKLdth8oYHPqHdUTFjDXNuXwiDzZ2fBh;" providerName="System.Data.SqlClient"/>
    <add name="DatabaseConnectionString" connectionString="Server=640d8b2d-5531-47bc-b553-a05400ffaf25.sqlserver.sequelizer.com;Database=db640d8b2d553147bcb553a05400ffaf25;User ID=wgsvrdzseqssjhuh;Password=BsobUMxjkzGZ7yhHoGMCBfjSJ3TsQdRyuKLdth8oYHPqHdUTFjDXNuXwiDzZ2fBh;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
   
  <!-- Makes the stylesheets available even when you're not authorized -->
   <location path="Styles">
      <system.web>
         <authorization>
            <allow users="*"/>
         </authorization>
      </system.web>
   </location>
   
  <!-- Makes the images available even when you're not authorized -->
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
   
  <!-- Admin sites secured -->
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
   
  <!-- LogFiles only accessable by admin -->
  <location path="LogFiles">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
   
  <system.web>
     <customErrors mode="Off" />

     <!--<httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers> -->
     
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
     
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
     
    <roleManager enabled="true"/>
    
     <!-- Unauthorized useres does not have access to anything -->
    <authorization>
      <deny users="?"/> <!-- ? means unauthorized users -->
      <allow users="*"/>
    </authorization>
     
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="60" defaultUrl="~/Default.aspx"/>
    </authentication>
     
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" 
             minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" 
             applicationName="/"/>
      </providers>
    </membership>
     
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" 
             connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
     
  </system.web>
  <!-- Mail settings-->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" userName="torestestbruker@gmail.com" password="BlaBlaBla" />
      </smtp>
    </mailSettings>
  </system.net>
   
  <appSettings>
    <add key="Email" value="torestestbruker@gmail.com" />
    <add key="HourPrice" value="500" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/TempImageFiles/;" />
  </appSettings>
   
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>